.CoverPage{
    background-image: url('https://static.pexels.com/photos/131743/pexels-photo-131743.jpeg?w=1603&h=900&fit=crop&auto=compress&cs=tinysrgb');
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    background-attachment: fixed;
}

.Introduction{
    margin-top: 15%;
    /* font-family: 'Fredericka the Great', cursive; */
    font-family: 'Cabin Sketch', cursive;
    font-size: 3em;
    color: #fff;
    text-align: center;    
}

.More{
    color: #fff;
    font-family: 'Cabin Sketch', cursive;
    font-size: 4em;
    animation: wave 1s infinite alternate;
    animation-timing-function: linear;
    text-align: center;
    position: relative;
}

@keyframes wave{
    0%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(0px, 10px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}

