.About{
    background-image: url('./Background.jpg');
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    background-attachment: fixed;
}

.CoverImage{
    /* margin-top: 10%; */
    /* background-color: black; */
}

.Image{
    border-radius: 50%;
    object-fit: cover;
}

.AboutMe{
    color: #fff;
    text-align: center;
}

.Card{
    background-color: rgba(245, 245, 245, 0.1);
    font-family: 'Aldrich', sans-serif;
}

.CardTitle{
    margin: 10px;
    border-bottom-color: rgb(255,255,255);
    border-bottom: 3px solid blue;    
}