.About{
    background-image: url('https://farm3.staticflickr.com/2810/33904805505_9d3da339eb_k.jpg');
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    background-attachment: fixed;
}

.CoverImage{
    /* margin-top: 10%; */
    /* background-color: black; */
}

.Image{
    border-radius: 50%;
    object-fit: cover;
}



.Card{
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Aldrich', sans-serif;
    color: #fff;
    text-align: center;
}

.CardTitle{
    margin: 10px;
    border-bottom-color: rgb(255,255,255);
    border-bottom: 3px solid blue;    
}