.AcademicProjects{
    background-image: url('https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    background-attachment: fixed;
}